---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Button from "../components/Button.astro";
---

<MainLayout title="Om os">
  <main class="flex flex-col">
    <div class="flex flex-col lg:flex-row-reverse w-full place-items-center justify-between">
      <section id="logo" class="pb-20 px-20 z-0 relative">
        <div class="place-self-center py-20">
          <img src="../assets/LOGO-Primært.svg" alt="" />
        </div>
        <div class="place-self-center px-8">
          <p class="s1 text-center text-seaGreen-800 lg:hidden">
            Vi er Danmarks Naturfredningsforenings indsamling af affald i naturen
          </p>
        </div>
      </section>
      <section id="forening" class="flex flex-col gap-10 z-1 py-40 lg:w-[946px]">
        <div class="px-8 flex flex-col gap-5">
          <h1 class="b2 text-neutral-950">
            Danmarks Naturfredningsforenings årlige indsamling af affald i naturen
          </h1>
          <p class="p1 text-neutral-950">
            Siden 2006 har Danmarks Naturfredningsforenings årlige Affaldsindsamling fået danskere
            fra hele landet med ud at samle affald i naturen. Vores mål er et Danmark helt fri for
            affald. Vi drømmer om at afholde en affaldsindsamling, hvor vi må lede forgæves efter
            affald i naturen og byerne, fordi produkterne i stedet indgår i et cirkulært kredsløb og
            dermed ikke bliver til affald i første omgang – til glæde for vores natur, miljø og
            klima.
          </p>
        </div>
        <div>
          <img
            class="w-[366px] lg:hidden lg:w-[1037px] place-self-center object-cover"
            src="https://placehold.co/366x206"
          />
        </div>
      </section>
    </div>
    <div class="lg:pb-75">
      <img
        class="w-[366px] lg:w-[1037px] place-self-center object-cover"
        src="https://placehold.co/366x206"
      />
    </div>
    <section id="presse" class="z-2">
      <img src="../assets/PRESSE.svg" alt="" class="w-full absolute object-cover lg:hidden" />
      <img src="../assets/pexels-kampus-8926044.svg" alt="" class="w-full absolute object-cover hidden lg:block" />
      <div class="relative py-20 px-8 lg:px-75 lg:py-75">
        <h1 class="h2 text-neutral-100 pb-10">Presse</h1>
        <div>
          <ul class="px-8 flex flex-col gap-5">
            <li class="p1 text-neutral-100 list-disc">
              Affaldsindsamlingen er Danmarks Naturfredningsforenings årlige indsamling af affald og
              har været afholdt siden 2006.
            </li>
            <li class="p1 text-neutral-100 list-disc">
              I år finder Affaldsindsamlingen sted i hele uge 14 (31. marts – 6. april).
            </li>
            <li class="p1 text-neutral-100 list-disc">
              I løbet af hverdagene er det fortrinsvis børn fra skoler og dagtilbud, mens
              indsamlingen kulminerer i weekenden med lokale arrangementer i hele landet.
            </li>
            <li class="p1 text-neutral-100 list-disc">
              I 2024 deltog op mod 240.000 danskere i Affaldsindsamlingen - heriblandt 190.000 børn
              fra skoler og dagtilbud.
            </li>
            <li class="p1 text-neutral-100 list-disc">
              Efter indsamlingen registrerer indsamlerne deres affald hos Danmarks
              Naturfredningsforening, der herefter laver en opgørelse over, hvor meget der er blevet
              samlet.
            </li>
          </ul>
        </div>
        <div class="py-8 px-5">
          <a href="" class=""
            ><p class="l1 underline text-neutral-100 text-center uppercase">
              Se her tidligere års indsamlings resultater
            </p></a
          >
        </div>
      </div>
    </section>
    <div class="flex flex-col lg:flex-row-reverse w-full lg:place-items-center">
      <section id="raadgiver" class="place-self-center self-stretch z-3 bg-neutral-100 lg:w-[100%]">
        <div class="flex flex-row gap-5 px-5 self-stretch lg:place-self-center lg:gap-0 py-40">
          <div class="w-full h-full">
            <img
              src="../images/anders.png"
              alt="anders vogel"
              class="w-full h-80 lg:w-[280px] lg:h-[396px] object-cover rounded-lg"
            />
          </div>
          <div class="flex flex-col gap-6 justify-between">
            <div>
              <h1 class="s1 text-neutral-950">Anders Vogel</h1>
              <p class="p1 text-neutral-950">Presse- og kommunikationsrådgiver</p>
            </div>
            <div>
              <h2 class="p1 text-neutral-950 font-bold">Mail adresse</h2>
              <a href=""><p class="p1 underline hover:text-lemonYellow-500">anders@dn.dk</p></a>
            </div>
            <div>
              <h2 class="p1 text-neutral-950 font-bold">Mobile tlf.</h2>
              <p class="p1 text-neutral-950">+ 45 31 19 32 11</p>
            </div>
            <div class="flex flex-row gap-2">
              <img src="../assets/linkedin.svg" alt="linkedin" />
              <img src="../assets/x.svg" alt="x" />
            </div>
          </div>
        </div>
      </section>
      <section id="resultat" class="bg-seaGreen-200 py-40 z-4 lg:w-[100%] lg:align">
        <div class="flex flex-col gap-8">
          <div class="px-8 flex flex-col place-items-center gap-5">
            <h2 class="h2 text-seaGreen-950">Årets resultat for Affaldsindsamlingen 2024</h2>
            <p class="p1 text-seaGreen-950">
              Op mod end 240.000 danskere var på skraldejagt fra den 8. – 14. april. Samlet set blev
              der fjernet 116 ton affald fra natur, gader og veje – heriblandt 115.000 af de små
              hvide snus- og nikotinposer.
            </p>
          </div>
          <h2 class="b1 text-seaGreen-950 place-self-center">Sådan så det ud i hver kommune.</h2>
          <div class="place-self-center">
            <Button href="deltagelsesform" variant="primary">SE RESULTATERNE</Button>
          </div>
        </div>
      </section>
    </div>
    <section id="gallery" class="z-5 bg-neutral-100 py-20">
      <div class="flex flex-col gap-8 px-8 lg:px-20 lg:py-50">
        <div>
          <h1 class="h2 text-neutral-950">PRESSEGALLERI</h1>
        </div>
        <div class="">
          <img src="../assets/Gallery.svg" alt="" class="w-full lg:hidden" />
          <img src="../assets/WebGalleri.svg" alt="" class="w-full hidden lg:block" />
        </div>
      </div>
    </section>
  </main>
</MainLayout>
