<div class="w-full h-full overflow-x-auto">
  <div class="w-96 h-full place-self-center flex flex-row gap-10">
    <div class="w-96 h-full place-content-center flex-shrink-0">
        <img src="images/Img 1.png" alt="frivillig" class="w-96 place-self-center">
        <div class="w-96 h-30 rounded-b-[10px] relative content-center -top-30 bg-seaGreen-800">
            <h1 class="h2 place-self-center text-seaGreen-100">Frivillig</h1>
        </div>
    </div>
    <div class="w-96 h-full place-content-center flex-shrink-0">
        <img src="images/Img 2.png" alt="skoler" class="w-96 place-self-center">
        <div class="w-96 h-30 rounded-b-[10px] relative content-center -top-30 bg-seaGreen-800">
            <h1 class="h2 place-self-center text-seaGreen-100">Skoler</h1>
        </div>
    </div>
        <div class="w-96 h-full place-content-center flex-shrink-0">
        <img src="images/Img 3.png" alt="forening" class="w-96 place-self-center">
        <div class="w-96 h-30 rounded-b-[10px] relative content-center -top-30 bg-seaGreen-800">
            <h1 class="h2 place-self-center text-seaGreen-100">Forening</h1>
        </div>
    </div>
        <div class="w-96 h-full place-content-center flex-shrink-0">
        <img src="images/Img 4.png" alt="virksomhed" class="w-96 place-self-center">
        <div class="w-96 h-30 rounded-b-[10px] relative content-center -top-30 bg-seaGreen-800">
            <h1 class="h2 place-self-center text-seaGreen-100">Virksomhed</h1>
        </div>
    </div>
  </div>
</div>


