---
---
<footer class="bg-seaGreen-800 text-white lg:grid lg:grid-cols-3 p-8 pt-10 gap-10 lg:px-20 relative z-100">
    <div class="container mx-auto pt-4 lg:col-start-1">
        <h1 class="h2 text-seaGreen-50">Øvrige</h1>
        <ul class="flex flex-col gap-2">
            <li><a href="/privacy" class="underline hover:text-lemonYellow-500">COOKIES POLITIK</a></li>
            <li><a href="/terms" class="underline hover:text-lemonYellow-500">PRIVATLIVSPOLITIK PRESSEKIT</a></li>
            <li><a href="/contact" class="underline hover:text-lemonYellow-500">RETTIGHEDER</a></li>   
        </ul>
    </div>
    <div class="container mx-auto pt-8 lg:col-start-2">
        <h1 class="h2 text-seaGreen-50">Hvem står bag</h1>
        <p>
            Affaldsindsamlingen er Danmarks Naturfredningsforenings indsamling af affald i naturen. Indsamlingen afholdes hvert forår, hvor mange tusind danskere frivilligt giver naturen en hånd.
        </p>
    </div>
    <div class="container mx-auto pt-8 lg:col-start-3 flex flex-col gap-4">
        <h1 class="h2 text-seaGreen-50">Kontakt</h1>
        <p>Tlf.: 33 93 10 00</p>
        <p>Email: kontakt@danmarksnaturfredningsforening.dk</p>
        <div class="flex flex-row gap-6 pt-2">
            <a href="https://www.Facebook.com/danmarksnaturfredningsforening" target="_blank" rel="noopener noreferrer">
                <img src="/assets/Facebook.svg" alt="Facebook" class="w-6 h-6 hover:opacity-75" />
            </a>
            <a href="https://www.instagram.com/danmarksnaturfredningsforening/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/Instagram.svg" alt="Instagram" class="w-6 h-6 hover:opacity-75" />
            </a>
            <a href="https://www.linkedin.com/company/danmarks-naturfredningsforening/" target="_blank" rel="noopener noreferrer">
                <img src="/assets/linkedin.svg" alt="LinkedIn" class="w-6 h-6 hover:opacity-75" />
            </a>
            <a href="https://twitter.com/dn_naturen" target="_blank" rel="noopener noreferrer">
                <img src="/assets/x.svg" alt="X (Twitter)" class="w-6 h-6 hover:opacity-75" />
            </a>
        </div>
    </div>
    <div class="lg:col-span-3 px-4 pt-20">
        <div class="border-t">
            <div class="py-10 flex flex-col lg:flex-row justify-between content-center items-center">
                <img src="/assets/LOGO-Sekundært.svg" alt="Logo" class="h-30 lg:mb-0" /><br>
                <p class="text-white text-sm mb-4 lg:mb-0 pt-4">&copy; 2025 Affaldsindsamlingen. Alle rettigheder forbeholdes.</p>
            </div>
        </div>
    </div>
    </div>
</footer>